@{
    ViewBag.Title = "Opis laboratoriów";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Zadnie dotyczące Referatu na temat Azure IoT Hub, Azure Stream Analytics oraz Azure Blob Storage</p>
<p>Programowanie na platformę <b>Microsoft Azure</b></p>
