@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p><strong>Autor:</strong> Kamil Raczycki</p>
    <p><strong>Indeks:</strong> 227961</p>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:227961@student.pwr.edu.pl">227961@student.pwr.edu.pl</a>
</address>